body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background-color: rgba(255, 233, 227, 0.3);
}

.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
  border-radius: 30px;
  width: 900px;
  height: 670px;
  padding: 30px 30px 10px 30px;
  margin: 50px auto;
  border: 2px outset rgba(196, 193, 224, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(196, 193, 224, 0.5);
}

header {
  background-color: rgba(255, 233, 227, 0.5);
  width: 350px;
  padding: 20px;
  text-align: center;
  border: 1px outset rgba(196, 193, 224, 0.5);
  border-radius: 30px;
  position: relative;
  bottom: 20px;
  box-shadow: 0px 0px 15px 5px rgba(196, 193, 224, 0.3);
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3 {
  margin: 0px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

hr {
  width: 300px;
  margin: 5px auto;
}

footer {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.current-conditions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: rgba(255, 233, 227, 0.5);
  padding: 15px;
  border: 1px outset rgba(196, 193, 224, 0.5);
  border-radius: 30px;
  box-shadow: 0px 0px 15px 5px rgba(196, 193, 224, 0.3);
  position: relative;
  bottom: 15px;
}

.current-conditions {
  list-style: none;
  padding: 15px 25px;
  border: 1px inset rgba(196, 193, 224, 0.5);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 0px 20px 5px inset rgba(196, 193, 224, 0.3);
}

.large-temp {
  font-size: 70px;
  font-weight: 700;
}

.current-weather-icon {
  width: 150px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px inset rgba(196, 193, 224, 0.5);
  box-shadow: 0px 0px 20px 5px inset rgba(196, 193, 224, 0.3);
}

.current-description {
  font-weight: 700;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
}

.search-form {
  float: right;
  position: relative;
  bottom: 175px;
}

.search-input {
  color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 30px;
  padding: 10px;
  width: 300px;
  font-size: 15px;
  box-shadow: 0px 0px 15px 10px rgba(196, 193, 224, 0.3);
  background-color: rgba(255, 233, 227, 0.5);
  text-align: center;
  border: 1px outset rgba(196, 193, 224, 0.5);
}

.search-btn {
  background-color: rgba(255, 233, 227, 0.5);
  border: none;
  border-radius: 30px;
  padding: 8px;
  font-size: 15px;
  box-shadow: 0px 0px 15px 10px rgba(196, 193, 224, 0.3);
  border: 1px outset rgba(196, 193, 224, 0.5);
}

.currently {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.temperature-units {
  font-size: 25px;
  position: relative;
  bottom: 27px;
  font-weight: 500;
}

.current-temp-units {
  color: rgba(0, 0, 0, 0.6);
}
