body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background: #f4eeff;
}

.weather-app {
  position: relative;
  width: 785px;
  height: 700px;
  padding: 30px 30px 10px 30px;
  margin: 50px auto;
  border: 2px outset rgb(220, 214, 247);
  border-radius: 20px;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  box-shadow: 0px 0px 30px 10px rgb(220, 214, 247);
}

header {
  position: absolute;
  width: 350px;
  height: 150px;
  padding: 20px;
  text-align: center;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px outset rgb(220, 214, 247);
  border-radius: 20px;
  background: rgba(220, 214, 247, 0.6);
}

a {
  color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3 {
  color: rgba(0, 0, 0, 0.6);
  margin: 0px;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 550;
}

h3 {
  font-size: 14px;
  font-weight: 500;
}

hr {
  width: 300px;
  margin: 5px auto;
}

footer {
  position: absolute;
  bottom: 5px;
  left: 160px;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.current-conditions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 45px;
  left: 10px;
  width: 350px;
  padding: 20px;
  border: 1px outset rgb(220, 214, 247);
  border-radius: 20px;
  background: rgba(220, 214, 247, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.current-conditions {
  list-style: none;
  padding: 15px 25px;
  text-align: center;
  border: 1px inset rgb(220, 214, 247);
  border-radius: 20px;
  background-color: rgba(244, 238, 255, 0.6);
}

.large-temp {
  font-size: 70px;
  font-weight: 550;
}

.current-weather-icon {
  width: 150px;
  border: 1px inset rgb(220, 214, 247);
  border-radius: 50%;
  background-color: rgba(244, 238, 255, 0.6);
}

.current-description {
  font-size: 25px;
  font-weight: 500;
}

.search-form {
  position: absolute;
  right: 30px;
  top: 15px;
}

.search-input {
  padding: 10px;
  width: 350px;
  font-size: 15px;
  text-align: center;
  border: 1px inset rgb(220, 214, 247);
  border-radius: 20px;
  background: rgba(220, 214, 247, 0.6);
}

.search-btn {
  padding: 8px;
  font-size: 15px;
  border: 1px inset rgb(220, 214, 247);
  border-radius: 20px;
  background: rgba(220, 214, 247, 0.6);
}

.currently {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.temperature-units {
  font-size: 30px;
  position: relative;
  bottom: 27px;
}

.forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  position: absolute;
  right: 10px;
  top: 70px;
  padding: 10px;
  border: 1px outset rgb(220, 214, 247);
  border-radius: 20px;
  background: rgba(220, 214, 247, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 110px;
  font-size: 12px;
  border: 1px outset rgb(220, 214, 247);
  border-radius: 20px;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

.forecast-icon {
  width: 65px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: rgba(244, 238, 255, 0.6);
  border: 1px inset rgb(220, 214, 247);
}

.forecast-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.forecast-left {
  font-size: 17px;
  font-weight: 500;
}

.forecast-right {
  list-style: none;
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
}

.daily-average {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.daily-high {
  color: rgba(79, 59, 120, 0.9);
  font-weight: 550;
}

.daily-low {
  color: rgb(146, 127, 191);
  font-weight: 550;
}

.daily-description {
  font-size: 12px;
  font-weight: 600;
}
